@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import "tailwindcss";

@theme {
    /* 
    NUOVO UPDATE COLORI:
        Primary: Indigo-300
        Secondary: Blue-300 o purple-300 o altro di chiaro per contrasto che stia bene nella stessa pagina dell'indigo
        Background: Invariato, se possibile non scendere troppo di tonalità
        Accent: Yellow-400
        No: red-500 // invariato
    */
  --font-display: "Pirata One";
  --color-primary: var(--color-indigo-300)/* var(--color-indigo-300) */; /* #93c5fd */
  --color-secondary: #7CB4B8 /* var(--color-indigo-100) #A5809C #ADB6C4 var(--color-purple-300) */;
  --color-background: var(--color-slate-950); /* #020617 */
  --color-section-background: #090F21; /* Halfway between slate-950 and slate-900 */
  --color-card-background: var(--color-slate-800);
  --color-border-background: var(--color-slate-700);
  --color-bad: var(--color-red-500);
  --color-highlight: #F7DBA7/* var(--color-violet-400) var(--color-yellow-300) */;
}

/* --- Containers --- */

.bg-container {
    @apply bg-background text-white p-4 font-sans min-h-screen flex flex-col items-center justify-center;
}

.main-container {
    @apply w-full mx-auto flex flex-col gap-6 bg-section-background border border-border-background rounded-2xl p-8;
}

.invisible-main-container, .invisible-main-container-with-border {
    @apply w-full mx-auto max-w-2xl flex flex-col gap-6 bg-transparent p-8;
}

.invisible-main-container-with-border {
    @apply border border-border-background rounded-2xl 
}

.wide-container {
     @apply w-full max-w-11/12 bg-section-background border border-border-background rounded-2xl p-8;
}

/* --- Titles ---*/

.main-title {
    @apply font-display text-4xl md:text-6xl font-bold tracking-widest mb-2 text-white drop-shadow-[0_0_10px_rgba(255,255,255,0.3)];
}

.section-title {
    @apply text-2xl font-bold text-center text-white;
}

.subtitle {
    @apply text-primary text-sm uppercase;
}

/* --- Forms ---*/

.form-label {
    @apply text-primary;
}

.form-field {
    @apply w-full bg-card-background border border-border-background text-white placeholder-primary text-sm rounded-lg focus:ring-2
    focus:ring-primary block p-3.5 transition-all outline-none;
}

/* selectables */
.submit-button, .secondary-button, .form-button, .item-selector, .no-button {
    @apply font-bold text-sm text-center
    rounded-lg 
    cursor-pointer 
    focus:outline-none focus:ring-4 focus:ring-highlight focus:ring-inset
    hover:ring-4 hover:ring-highlight hover:ring-inset
}

/* buttons */
.submit-button, .secondary-button, .form-button, .no-button {
    @apply text-background;
}

/* small inputs in forms */
.form-button, .item-selector {
    @apply px-4 py-2 
}

/* big inputs in forms */
.submit-button, .secondary-button, .no-button {
    @apply w-full
    transition-all flex items-center justify-center gap-3 py-4;
}

/* primary color */
.submit-button, .form-button {
    @apply bg-primary;
}

.secondary-button {
    @apply bg-secondary;
}

.no-button {
    @apply bg-bad;
}

.item-selector {
    @apply rounded-md text-sm text-primary transition-all peer-checked:bg-primary peer-checked:text-black block
}

.link-button {
    @apply text-primary cursor-pointer hover:text-secondary font-bold hover:underline ml-1;
}

.no-link-button {
    @apply text-bad cursor-pointer hover:text-highlight font-bold hover:underline ml-1 transition-colors;
}

.error-message {
    @apply mt-4 p-3 border-2 border-bad rounded-lg font-bold text-bad text-sm text-center;
}

.ok-message {
    @apply mt-4 p-3 bg-primary border rounded-lg text-sm text-center;
}

.avatar-image {
    @apply object-cover rounded-full border-2 border-primary;
}

.username-info-top-right {
    @apply transition-all flex items-center justify-center bg-card-background gap-6 pl-6 pr-3 max-md:px-3 py-2 rounded-full border border-border-background;
}

progress {
    @apply w-full h-2 rounded-lg overflow-hidden;
}

.desktop-only { display: none; }
.mobile-only { display: flex; }

@media (min-width: 1024px) {
  .desktop-only { display: block; }
  .mobile-only { display: none; }
}

.thin-scrollbar::-webkit-scrollbar {
    width: 8px;               /* Larghezza della barra verticale */
    height: 8px;              /* Altezza della barra orizzontale */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: var(--color-background);     /*background-1*/
    border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-primary);      
    border-radius: 10px;
    border: 2px solid var(--color-background); /* Crea un effetto di distacco dalla pista */
}

/* Supporto per Firefox */
.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-background);
}
